body {
  font-family: "Roboto", sans-serif;
  background: #f7f8f5;
} 


.nav {
  display: inline-flex;
  align-items: center;
  background: white;
  height: 60px;
  width: 100%;
  padding-left: 20px;
}

.headerText {
  padding-left: 30px;
  cursor: pointer;
}

/* .slideshow-container { */
  /* margin: 20px; */
  /* justify-content: center; */
  /* text-align: center; */
  /* align-items: center; */
/* } */

.slideshow-container {
  display: flex;
  justify-content: center; /* 在父容器上水平居中 */
  align-items: center; /* 在父容器上垂直居中 */
  margin: 20px;
}

.slides {
  display: flex; /* 让图片元素成为flex子项 */
}

.slides img {
  margin: 0 auto; /* 自动左右居中 */
}

.button-arrow {
  text-align: center; /* 水平居中 */
}

.button-arrow .arrow {
  margin: 0 10px; /* 设置按钮之间的空隙为20px */
  display: inline-block; /* 将按钮设置为行内块元素 */
}


/* .button-arrow {
  align-items: center;
  text-align: center;
  padding-right: 20px;
} */

.button {
  align-items: center;
  text-align: center;
  padding: 15px;
}



.arrow {
  width: 40px;
  height: 40px;
  background-color: #699A30;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.fullscreen {
  width: 140px;
  height: 40px;
  background-color: #699A30;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.footer {
  display: grid;
  margin-top: 30px;
  grid-template-rows: 200px 40px;
  background-color: white;
  font-weight: 300;
}

.footerText {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.footerRight {
  padding-top:20px;
  display: grid;
    grid-template-columns: 200px 300px 100px;
}

.about div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.renomark {
  margin-right: 10px;
  padding-right: 10px;
}

.footerLeft {
  padding-top: 20px;
  padding-left: 20px;
  width: 300px;
}

.footerLeft div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.copyRight {
text-align: right;
padding-right: 10px;
}