body {
  font-family: "Roboto", sans-serif;
  background: #f7f8f5;
}

/* .nav {
  display:grid;
  background: white;
  grid-template-columns: 100px 100px 100px 100px 150px;
  height: 60px;
  width: 100%;
  align-items: center;
  padding-left: 20px;
} */

.nav {
  display: inline-flex;
  align-items: center;
  background: white;
  height: 60px;
  width: 100%;
  padding-left: 20px;
}

.headerText {
  padding-left: 30px;
  cursor: pointer;

}

.container {
  width: 600px;
  height: 600px;
  background-color: white;
  border-color: 1px solid red;
  margin: auto;
  margin-top: 40px;
} 

.button {
  display: block;
  width: 300px;
  height: 600px;
  padding-top: 150px;
  margin: auto;
  align-items: center;
}

#part1,
#part2
 {
  width:300px;
  height: 40px;
  background-color: #699A30;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  /* align-items: center; */
  justify-content: center;
}

#part3,
#part4,
#part5 {
  display: none;
  width:300px;
  height: 40px;
  background-color: #B0B0B0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  align-items: center;
}


.footer {
  display: grid;
  margin-top: 30px;
  grid-template-rows: 200px 40px;
  background-color: white;
  font-weight: 300;
}

.footerText {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.footerRight {
  padding-top:20px;
  display: grid;
    grid-template-columns: 200px 300px 100px;
}

.about div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.renomark {
  margin-right: 10px;
  padding-right: 10px;
}

.footerLeft {
  padding-top: 20px;
  padding-left: 20px;
  width: 300px;
}

.footerLeft div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.copyRight {
text-align: right;
padding-right: 10px;
}